:root{
    --primarycolor:#ff274b;
    --secondarycolor:#f7bcf7;
    --lightcolor:#ffffff;
    --bgcolor-1:#494d5f;
    --bgcolor-2:#312135;
    --padding:8%;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-family: sans-serifs;
    font-size: 16px;
    color: var(--lightcolor);
}

.home{
    width:100%;
    height:100vh;
    background-color: var(--bgcolor-1);
    display: flex;
    flex-direction: column;
    
}

span{
    color:var(--primarycolor);
}

h2{
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
}

nav{
    padding-top: 2.8rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: o;
    left: 0;
    right: 0;
    padding-top: 0;
    z-index: 100;
    height: 82px;
    background-color: var(--bgcolor-1);
    border-bottom: 1px solid white;
    
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}

nav ul li a{
    color: var(--lightcolor);
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
}

nav ul li a:hover{
    color:var(--primarycolor);
}

.btn{
    background-color: var(--primarycolor);
    color: var(--lightcolor);
    text-decoration: none;
    font-weight: bold;
    padding: 0.51rem 1rem;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: 0.4s;
}

.btn:hover{
    background-color: transparent;
    border: 2px solid var(--primarycolor);
}

.content{
    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1{
    font-size: 3rem;
    margin:1.5rem 0;
}

h3{
    font-size: 1rem;
    margin-bottom: 3.5rem;
}

h4{
    font-size: 1rem;
    letter-spacing: 0.12rem;
    color: var(--secondarycolor);
}

.container-text{
    position: relative;
    bottom: 5px;
    border-radius: 10%;
    background-color: var(--bgcolor-2);
    padding: 4%;
    padding-bottom: 10%;
    margin-top: 85px;
    box-shadow:#22282a;
}

.social{
    margin-top: 3.5rem;
}

.social img{
    margin-right: 2rem;
    width:2.5rem;
    transition: 0.4s;
}

.social a {
    text-decoration: none;
}

.social img:hover{
    transform: scale(1.2);
}

.home .container-imgs{
    width:45%;
    height:90%;
    position:relative;
    align-self: flex-end;

}

.home .container-imgs img{
    position:absolute;
    bottom: 0;
    height: 80%;
    left:50%;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.home .container-imgs:hover .shape{
        bottom: 40px;
}

.home .container-imgs:hover .pic{
    left: 45%;
}

.about {
    background-color: var(--bgcolor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 500px;
}

.about .container-imgs{
    width: 35%;
}

.about .container-imgs img{
    width: 90%;
}

.about .container-text{
    width: 35%;
}

p{
    color: var(--secondarycolor);
    letter-spacing: 1px;
    line-height: 1.8rem;
    font-size: 1rem;
}

h5{
    font-size: 1.37rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
}

.services{
    background-color: var(--bgcolor-1);
    padding: 2rem var(--padding);
}

.text-center{
    text-align: center;
}

.box{
    display: flex;
    justify-content: space-between;
}

.card{
    width: 22%;
    background-color: var(--bgcolor-2);
    border-radius: 20px;
    padding: 1.3rem 2rem;
    text-align: center;
}

.skills{
    background-color: var(--bgcolor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills .container-imgs{
    width: 35%;
}

.skills .container-imgs img{
    width: 90%;
}

.skills .container-skills{
    width: 40%;

}

.content-skills{
    display: flex;
    flex-wrap: wrap;

    
}
.skill{
    width: 50px;
    height: 50px;
    background-color: var(--lightcolor);
    border-radius: 50%;
    margin: 0 2rem 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill img{
    width: 70%;
    height: 70%;
}

footer{
    padding: 2rem var(--padding);
    background-color: var(--bgcolor-1);
}

footer .content-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .content-footer p{
    color: var(--lightcolor);
    text-align: center;
    width: 500px;
    margin-top: 1rem;
}

footer .content-footer .end{
    color: var(--primarycolor);
    margin-top: 1rem;
}

#menu {
    display: none;
    position: relative;
    appearance:none;
    border:none;
    outline:none;
    background: none;
    cursor:pointer;
    user-select:none;

}

#menu span {
    display:block;
    width:33px;
    height:4px;
    background-color: var(--lightcolor);
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
    margin-bottom: 5px;

}

#menu.is-active span:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg);
}
#menu.is-active span:nth-child(2){
    opacity: 0;
    transform: translate(15px);
}
#menu.is-active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);
}
#menu.is-active span{
    background-color: var(--primarycolor);
}

 @media screen and (max-width: 575px){
     :root{
         --padding: 1.5rem;
     }
     html{
         font-size: 13px;

     }
     .home .container-imgs{
         display: none;
     }

     nav{
         position: fixed;
         top: o;
         left: 0;
         right: 0;
         padding-top: 0;
         z-index: 100;
         height: 82px;
         background-color: var(--bgcolor-1);
         border-bottom: 1px solid var(--bgcolor-2);
     }
     nav > a {
         display: none;
     }
     nav ul{
         display: none;
         position: fixed;
         top: 0;
         right: 0;
         width: 50vw;
         height: 100vh;
         background: var(--bgcolor-2);

     }
     nav ul.is-active {
         display: block;
     }

     nav ul li{
         display: block;
         text-align: center;
         margin: 50px;
     }
     .container-text{
         bottom: 0;
     }
     .social{
         margin-top: 70px;
     }
     h3{
        margin-top: 70px;
    }
    #menu{
        display: block;
    }

    .about{
        height: 350px;
    }

    .about .container-imgs{
        display: none;
    }

    .about .container-text{
        width: 100%;
        transform: translateY(-30px);
    }
     .box{
        
         justify-content: center;
         flex-wrap: wrap;
         gap:1rem;
     }
      .card{ 
          width: 90%;
          height: 200px;
      }

     .skills .container-imgs{
         display: none;
     }

     .skills .container-skills{
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
     }

     .skills .container-skills .content-skills{
         margin-top: 2rem;
         align-items: center;
         justify-content: center;
     }

     .skill{
         width: 80px;
         height: 80px;
     }

     footer .content-footer{
         width: 100%;
     }
     

 }


 @media screen and (min-width: 576px) and (max-width: 767px){
    :root{
        --padding: 1.5rem;
    }
    html{
        font-size: 13px;

    }
    .home .container-imgs{
        display: none;
    }
    .home .container-text{
        transform: translateX(150px);
        margin-bottom: 10px;
        height: 80%;
    }
    .content{
        padding-top: 82px;
    }

    nav{
        position: fixed;
        top: o;
        left: 0;
        right: 0;
        padding-top: 0;
        z-index: 100;
        height: 82px;
        background-color: var(--bgcolor-1);
        border-bottom: 1px solid var(--bgcolor-2);
    }
    nav > a {
        display: none;
    }
    nav ul{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--bgcolor-2);

    }
    nav ul.is-active {
        display: block;
    }

    nav ul li{
        display: block;
        text-align: center;
        margin: 50px;
    }
    .container-text{
        bottom: 10px;
    }
    .social{
        margin-top: 30px;
    }
    h3{
       margin-top: 30px;
   }
   #menu{
       display: block;
   }
   .about{
    height:350px;
   }
   .about .container-imgs{
       display: none;
   }

   .about .container-text{
       width: 100%;
   }
    .box{
       
        justify-content: center;
        flex-wrap: wrap;
        gap:1rem;
    }
     .card{ 
         width: 50%;
         height: 200px;
     }

    

    .skills .container-imgs{
        display: none;
    }

    .skills .container-skills{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skills .container-skills .content-skills{
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }

    .skill{
        width: 80px;
        height: 80px;
    }

    footer .content-footer{
        width: 100%;
    }
    

}

@media screen and (min-width: 768px) and (max-width: 991px){
    :root{
        --padding: 1.5rem;
    }
    html{
        font-size: 13px;

    }
    .home .container-imgs{
        display: none;
    }

    nav{
        position: fixed;
        top: o;
        left: 0;
        right: 0;
        padding-top: 0;
        z-index: 100;
        height: 82px;
        background-color: var(--bgcolor-1);
        border-bottom: 1px solid var(--bgcolor-2);
    }
    nav > a {
        display: none;
    }
    nav ul{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--bgcolor-2);

    }
    nav ul.is-active {
        display: block;
    }

    nav ul li{
        display: block;
        text-align: center;
        margin: 50px;
    }
    .container-text{
        transform: translateX(260px);
        margin-bottom: 10px;
        height: 80%;
    }
    .social{
        margin-top: 70px;
    }
    h3{
       margin-top: 70px;
   }
   #menu{
       display: block;
   }
   .about{
    height: 350px;
   }
   .about .container-imgs{
       display: none;
   }

   .about .container-text{
       width: 100%;
       transform: translateX(-40px);
   }
    .box{
       
        justify-content: center;
        flex-wrap: wrap;
        gap:1rem;
    }
     .card{ 
         width: 50%;
         height: 200px;
     }

    .skills .container-imgs{
        display: none;
    }

    .skills .container-skills{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skills .container-skills .content-skills{
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }

    .skill{
        width: 80px;
        height: 80px;
    }

    footer .content-footer{
        width: 100%;
    }
    

}

@media screen and (min-width: 992px) and (max-width: 1279px){
    :root{
        --padding: 1.5rem;
    }
    html{
        font-size: 13px;

    }
    .home .container-imgs img{
        height: auto;
        width: 100%;
        
    }

    nav{
        position: fixed;
        top: o;
        left: 0;
        right: 0;
        padding-top: 0;
        z-index: 100;
        height: 82px;
        background-color: var(--bgcolor-1);
        border-bottom: 1px solid var(--bgcolor-2);
    }
    nav > a {
        display: none;
    }
    nav ul{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 50vw;
        height: 100vh;
        background: var(--bgcolor-2);

    }
    nav ul.is-active {
        display: block;
    }

    nav ul li{
        display: block;
        text-align: center;
        margin: 50px;
    }
    .container-text{
        bottom: 0;
    }
    .social{
        margin-top: 70px;
    }
    h3{
       margin-top: 70px;
   }
   #menu{
       display: block;
   }

   .about .container-imgs{
       display: none;
   }

   .about .container-text{
       width: 100%;
   }
    .box{
       
        justify-content: center;
        flex-wrap: wrap;
        gap:1rem;
    }
     .card{ 
         width: 90%;
         height: 200px;
     }

    .skills .container-imgs{
        display: none;
    }

    .skills .container-skills{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skills .container-skills .content-skills{
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }

    .skill{
        width: 80px;
        height: 80px;
    }

    footer .content-footer{
        width: 100%;
    }
    

}

